.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.atomBox {
  position:relative;
  height:600px;
  width:600px;
  background-color: azure;

}

.atom {
  position:absolute;
  height:80px;
  width: 80px;
}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
